name: Tests

on:
  push:
    branches:
      - main
    paths-ignore:
      - "*.md"
      - "*.mdc"
  pull_request:
    branches:
      - main
    paths-ignore:
      - "*.md"
      - "*.mdc"

permissions:
  contents: read

jobs:
  test:
    name: Run on Ubuntu
    runs-on: ubuntu-latest
    steps:
      - name: Clone the code
        uses: actions/checkout@v6

      - uses: supabase/setup-cli@v1
        with:
          version: latest

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: '~1.24'

      - name: Running Tests
        run: |
          make test
